<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testes</title>
</head>
<body>
    <form action="/" method="post">
        <h3>Nome do cliente</h3>
        <input type="text" name="nome">
        <button>Manda ai pa nois    </button>
    </form>
</body>
</html>